
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background: rgba(240, 227, 227, 0.075);
    color: rgb(85, 42, 42);
    position: sticky;
    top:0;
    
}
header span{
    color: chartreuse;
    
}

nav a {
    color: rgb(24, 19, 19);
    text-decoration: none;
    margin-right: 25px;
    font-size: 20px;
}

nav a:hover{
   color: rgb(255, 238, 0);
    transform: scale(1.9)
}
.menu{
    display: none;
}


/* Home section */
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 39px;
    background: #aca8a8;
}
.home-text h1{
    font-size: 54px;
}
.home-text span{
    color: blue;
}
.home-text p{
    font-size: 25px;
    margin: 20px 0;
}

.home-image img{
    margin-top: 100;
   max-width: 80%;
   height: auto;
   border-radius: 20px;
}

button{
    padding: 10px 25px;
    font-size: 20px;
    background: rgb(113, 8, 252);
    border: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* about  */
.about{
    text-align: center;
    padding: 50px 60px;
    background: rgb(228, 209, 209);
}
.about p {
    font-size: 25px;
}
.about h2 {
    font-size: 54px;
    padding: 60px;
    text-decoration: underline;
    color: rgb(138, 128, 128);
}
.about ul {
    display: inline-block;
}
.about ul li{
    text-align: center;
    font-size: 28px;
    margin: 8px 0;
}
.about ul li:hover{
     transform: scale(1.19)
}

/* services */

.services{
    background: rgb(245, 203, 203);
    text-align: center;
    padding: 50px 50px;
}

.services h2{
    padding-bottom: 20px;
    font-size: 54px;
    text-decoration: underline;
    color: rgb(170, 151, 151);
}
.service{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.service-card{
    color: rgb(179, 241, 187);
    background: rgb(128, 107, 107);
    text-align: center;
    padding: 70px 30px;
    width: 300px;
    border-radius: 20px;
}
.service-card:hover{
    background: rgb(37, 36, 36);
    color: gray;
     transform: scale(1.1)
}
.service h3{
    font-size: 45px;
    margin-bottom: 23px;
}
.service p{
    font-size: 30px;
}

/* contact section */
.contact{
    background: rgb(207, 185, 185);
    text-align: center;
    padding: 50px 40px;
}
.contact h2{
    padding-bottom: 20px;
    font-size:54px;
    text-decoration: underline;
    color: gray
}
form{
    margin: 50px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
input{
    font-size: 18px;
    padding: 1%;
    border: gray;
    border-radius: 6px;
}
.social-container {
  display: flex;           
  flex-direction: row;  
  align-items: center;      
  gap: 20px;                
  margin-top: 110px;         
}
.social-icon img {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: rgb(207, 185, 185);
  border-radius: 8px; 
  margin-top: 45px;

}

.social-icon img:hover {
  transform: scale(1.1);
}
/* footer */

footer{
    background: rgb(167, 164, 164);
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 14px;
}


@media (max-width: 550px) {
   .menu{
    display: block;
    font-size: 20px;
    cursor: pointer;
}

nav{
  display: none;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top:  40%;
  width: 100%;
  left: 0;
  background: rgb(201, 199, 199);
}

nav.active{
    display: flex;
}

/* home secton */
   .home{
    flex-direction: column;
    text-align: center;
   }
   .home-text{
    text-align: center;
    padding-bottom: 18px;
   }

   .home-image{
    text-align: center;
   }

/* services section    */
.service{
    flex-direction: column;
    align-items: center;
}
.service-card{
    width: 80%;
}
}
